$gray50: #f8f8f8;
$gray100: #e8e8e8;
$gray600: #999;
$gray800: #666;

$black: black;
$red: red;

$pGreen: #c6dbda;
$pRed: #fee1e8;
$pOrange: #fed7c3;
$pYellow: #f6eac2;
$pPurple: #ecd5e3;

$inputHeight: 40px;
$inputPadding: 8px;

%defaultInputStyle {
}

%icSvSelect {
  &--disabled {
  }
}
